<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=event.eventName%></title>

    <!-- Bootstrap core CSS -->
    <link href="../css/vendor-home/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../css/vendor-home/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="../css/vendor-home/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../css/myEvent/freelancer.min.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center" style="background-image:url(https://media.timeout.com/images/103161025/image.jpg); background-size:cover">
      <div class="container">
        <h1 class="text-uppercase mb-0 text-light"><%= event.eventName%></h1>
      </div>
    </header>

    <!-- About Section -->
    <section class="text-dark mb-0" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-dark">Description</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="col-lg-4 ml-auto">
            <p class="lead"><%= event.eventDescription%></p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
          </div>
        </div><div class="text-center text dark text-uppercase" id="counter123">
        <div id="timer"><h3>
          <span id="days"></span>days
          <span id="hours"></span>hours
          <span id="minutes"></span>minutes
          <span id="seconds"></span>seconds</h3>
        </div>
  <style type="text/css">
    #counter123 span{
      font-size: 150%;
    }
   </style>
      <script type="text/javascript">var timer;

      var compareDate = new Date();
      compareDate.setDate(compareDate.getDate() + 7); //just for this demo today + 7 days

      timer = setInterval(function() {
        timeBetweenDates(compareDate);
      }, 1000);

      function timeBetweenDates(toDate) {
        var dateEntered = toDate;
        var now = new Date();
        var difference = <%=event.eventStart_time%> - now.getTime();
         console.log(now.getTime())

        if (difference <= 0) {

          // Timer done
          clearInterval(timer);
        
        } else {
          
          var seconds = Math.floor(difference / 1000);
          var minutes = Math.floor(seconds / 60);
          var hours = Math.floor(minutes / 60);
          var days = Math.floor(hours / 24);

          hours %= 24;
          minutes %= 60;
          seconds %= 60;

          $("#days").text(days);
          $("#hours").text(hours);
          $("#minutes").text(minutes);
          $("#seconds").text(seconds);
        }
      }</script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="js/index.js"></script>

    <!-- Add participants here -->
    
    <a href="/event/<%=event._id%>/addParticipants" class="btn btn-default">Add participants</a>
    <form>
      <input type="button" value="Go back!" onclick="history.back()">
    </form>

  </div>
      </div>
    </section>
    <section id="Location">
      <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Location</h2>
        <hr class="star-dark mb-5">
        <div class="row">
          <div class="mx-auto lead">
          <div id="map" style="width:400px;height:400px;background:yellow"></div>

          <script>
          function myMap() {
          var mapOptions = {
              center: new google.maps.LatLng(51.5, -0.12),
              zoom: 10,
              mapTypeId: google.maps.MapTypeId.HYBRID
          }
          var map = new google.maps.Map(document.getElementById("map"), mapOptions);
          }
          </script>

          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD63Hi4wJxjmWxSI5sbWq-0Hp1bo7mOeks&callback=myMap"></script>

                  </div>
        </div>
      </div>
    </section>
    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Your Website 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="../css/vendor-home/jquery/jquery.min.js"></script>
    <script src="../css/vendor-home/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../css/vendor-home/jquery-easing/jquery.easing.min.js"></script>
    <script src="../css/vendor-home/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/myEvent/freelancer.min.js"></script>

  </body>

</html>
