<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Personal Info</title>

    <!-- Bootstrap core CSS -->
    <link href="../css/vendor-home/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link href="../css/vendor-home/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/myProfile/resume.min.css" rel="stylesheet">
    <style>
                    img {
                      width: 250px;
                      image-rendering: pixelated;
                      margin: auto;
                    }
                    body {font-family: Arial, Helvetica, sans-serif;}

                    /* The Modal (background) */
                    .modal {
                        display: none; /* Hidden by default */
                        position: fixed; /* Stay in place */
                        z-index: 1; /* Sit on top */
                        padding-top: 100px; /* Location of the box */
                        left: 0;
                        top: 0;
                        width: 100%; /* Full width */
                        height: 100%; /* Full height */
                        overflow: auto; /* Enable scroll if needed */
                        background-color: rgb(0,0,0); /* Fallback color */
                        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
                    }

                    /* Modal Content */
                    .modal-content {
                        background-color: #fefefe;
                        margin: auto;
                        padding: 20px;
                        border: 1px solid #888;
                        width: 40%;
                    }

                    /* The Close Button */
                    .close {
                        color: #aaaaaa;
                        float: right;
                        font-size: 28px;
                        font-weight: bold;
                    }

                    .close:hover,
                    .close:focus {
                        color: #000;
                        text-decoration: none;
                        cursor: pointer;
                    }
            </style>

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none"><%=user.username%></span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../img/myProfile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Events Registered</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">My Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/eregister"><button>Create New Event</button></a>
          </li>
      </div>
    </nav>

        <a href="/ulogout" class="btn btn-danger" style="float: right;">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </a> 

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0 text-primary">Name</h1>
            <%=user.fullName%>
            <br><%=user.age%>
            <br><%=user.email%>
          </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Events Registered</h2>
          <div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Start Time</th>
        <th>QR-Code</th>
        <th>See More</th>
      </tr>
    </thead>
    <tbody>
      <%for(i = 0; i < user.participatedEventCount; i++) {%>
      <tr>
        <td>Event<%=i + 1%></td>
        <td>date<%=i + 1%></td>
        <td>time<%=i + 1%></td>
        <td><button id="myBtn<%=i%>">QR-Code</button>
          <meta name="viewport" content="width=device-width, initial-scale=1">
                    <!-- The Modal -->
                    <div id="myModal<%=i%>" class="modal">

                      <!-- Modal content -->
                      <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Scan this code</p>
                        <img src="<%=user.eventsParticipated.qrLink[i]%>">

                      </div>

                    </div>

                    <script>
                    // Get the modal
                    var modal = document.getElementById('myModal<%=i%>');

                    // Get the button that opens the modal
                    var btn<%=i%> = document.getElementById("myBtn<%=i%>");

                    // Get the <span> element that closes the modal
                    var span = document.getElementsByClassName("close")[0];

                    // When the user clicks the button, open the modal 
                    btn<%=i%>.onclick = function() {
                        modal.style.display = "block";
                    }

                    // When the user clicks on <span> (x), close the modal
                    span.onclick = function() {
                        modal.style.display = "none";
                    }

                    // When the user clicks anywhere outside of the modal, close it
                    window.onclick = function(event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }
                    </script>
        </td>

        <td><a href="/event/<%=user.eventsParticipated.id[i]%>">See more</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>



        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">My Events</h2>
           <div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Start Time</th>
        <th>See More</th>
      </tr>
    </thead>
    <tbody>
      <%for(i = 0; i < user.adminEventCount; i++) {%>
      <tr>
        <td>Name<%=i + 1%></td>
        <td>Date<%=i + 1%></td>
        <td>Start<%=i + 1%></td>
        <td><a href="/event/<%=user.eventsAdmin[i]%>">See more</a></td>
      </tr>
      <%}%>
    </tbody>
  </table>
</div>

        </div>
      </section>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../css/vendor-home/jquery/jquery.min.js"></script>
    <script src="../css/vendor-home/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../css/vendor-home/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../js/myProfile/resume.min.js"></script>

  </body>

</html>
