<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Add Event/Edit Event</title>
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../css/eventAdd/style.css">
</head>

<body>

  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">Add New Event</a></li>
        <li class="tab"><a href="#login">Edit Event</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Organize New Event!</h1>
          
          <form action="/eregister" method="post">
          
        
            <div class="field-wrap">
              <label>
                Event Name
              </label>
              <input type="text" required autocomplete="off" name="eName" />
            </div>

          <div class="field-wrap">
            <label>
              Event Discription<span class="req">*</span>
            </label>
            <textarea class="form-control" rows="5" id="comment" name="eDescription"></textarea>
          </div>

          <div class="field-wrap">
            <label>
              Event Capacity<span class="req">*</span>
            </label>
            <input type="number" required autocomplete="off" name="eCapacity" />
          </div>

          <div class="field-wrap">
            <label>
              Event Date<span class="req">*</span>
            </label>
            <input type="date" required autocomplete="off" name="eDate" />
          </div>
          
          <div class="field-wrap">
            <label>
              Start Time<span class="req">*</span>
            </label>
            <input type="time" required autocomplete="off" name="eStartTime" />
          </div>
         
          <div class="field-wrap">
            <label>
              End Time<span class="req">*</span>
            </label>
            <input type="time" required autocomplete="off" name="eEndTime" />
          </div>
          
          <button type="submit" class="button button-block"/>Get Started</button>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>Welcome Back!</h1>
          
          <form action="/" method="post">
          
            <div class="field-wrap">
            <label>
              Username<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
          
          <div class="field-wrap">
            <label>
              Password<span class="req">*</span>
            </label>
            <input type="password"required autocomplete="off"/>
          </div>
          
          <p class="forgot"><a href="#">Forgot Password?</a></p>
          
          <button class="button button-block"/>Log In</button>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="../js/eventAdd/index.js"></script>
</body>

</html>
-