<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <title>Event Maps</title>
    <link rel="stylesheet" href="css/eventMap.css">  
    <script type="text/javascript" src="js/eventMap.js"></script>
</head>
<body>
	<!-- <form>
		<input type="text" placeholder="Search Box" id="pac-input">
	</form>
    <div id="map"></div>
    <div id="staticMap"></div> -->    
    
    <input id="origin-input" class="controls" type="text" placeholder="Enter an origin location">

    <input id="destination-input" class="controls" type="text" placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
        <input type="radio" name="type" id="changemode-walking" checked="checked">
        <label for="changemode-walking">Walking</label>

        <input type="radio" name="type" id="changemode-transit">
        <label for="changemode-transit">Transit</label>

        <input type="radio" name="type" id="changemode-driving">
        <label for="changemode-driving">Driving</label>
    </div>

    <div id="map"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD63Hi4wJxjmWxSI5sbWq-0Hp1bo7mOeks&callback=initMap&libraries=places,visualization" async defer></script>
</body>
</html>
